body {
    margin: 50px 100px;
}
#content{

}
.card {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}
.table{
    position: absolute;
    top: 10px;
    left:0;
    font-size: 40px;
    font-family: cursive;
    z-index: 200;
}
.table .player{
    float: left;
    margin: 0 50px;
}

.front, .back {
    border: 2px gray solid;
    padding: 10px;
}
.front {
    background-color: #ccc;
}
.back {
    background-color: red;
}

.right{
    color: green;
}
.wrong{
    color: red;
}
.passed{
    opacity: 0.5;
}